<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="application.security.wavsep.tests.RXSSWavsepTest"/>
      <class name="application.security.wavsep.tests.SQLiWavsepTest"/>
      <class name="application.security.wavsep.tests.RedirectWavsepTest"/>
      <class name="application.security.wavsep.tests.SingleWavsepTest"/>
      <class name="application.security.wavsep.tests.RFIWavsepTest"/>
      <class name="application.security.wavsep.tests.LFIWavsepTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
